.mn_menu {
    display: none;
}

@include min_mq(md) {
    .mn_menu {
        display: block;
        position: relative;
        z-index: 10;

        a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 700;
            padding: 0 10px;

            &.active {
                text-decoration: underline;
            }
        }
    }
}

@include min_mq(lg) {
    .mn_menu {
        a {
            padding: 0 20px;
        }
    }
}
